.test{
    color: blue;
    cursor: pointer;
    
}

.container{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    
}

.box{
    padding: 20px;
    background-color: red;
    height: 20px;
    
}
.box2{
    background-color: green;
    
}
.box3{
    background-color: rgb(39, 39, 228);
}
